body {
  padding: 0px;
}

.title {
  padding: 10px 10px;
  text-align: center;
  padding-left: 500px;
  padding-right: 500px;
}

.container {
  width: 90%;
}

li.list-group-item {
  border: none;
  padding-bottom: 0px;
}

.col-xs-3 {
  border: none;
}

/* centers map display titles */
#mapTitle {
  text-align: center;
}

/* centers text on selection menu */
.facet h4 {
  text-align: center;
}

.facet a {
  color: inherit;
  text-decoration: none;
}

/* scrolling feature of the menu bars */
.panel-collapse {
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
}

#mapid {
  height: 700px;
  background: none;
  z-index: 1;
}

.unbold {
  font-weight: normal;
}

#displayFeaturesList {
  padding-left: 0px;
  padding-bottom: 15px;
}

lh {
  padding-left: 10px;
}

/* centers the reset button */
#reset {
  text-align: center;
  position: center;
}
textarea {
  resize: none;
  z-index: 500000000000000; /* Woaaaah */
}
